

@font-face {
    font-family: Mulish;
    font-display: swap;
    font-weight: 400;
    src: url("fonts/LibreFranklin-Regular.woff2") format('woff2');
    /*style: normal;*/
}




@font-face {
    font-family: Mulish;
    font-display: swap;
    font-weight: 600;
    src: url("fonts/LibreFranklin-SemiBold.woff2") format('woff2');
    /*style: normal;*/
}


@font-face {
    font-family: Mulish;
    font-display: swap;
    font-weight: 700;
    src: url("fonts/LibreFranklin-Bold.woff2") format('woff2');
    /*style: normal;*/
}



.container-xl {
    width: 1440px;
}

.container {
    width: 1100px;
}