@font-face {
    font-family: LibreFranklin;
    font-display: swap;
    font-weight: 400;
    src: url("fonts/LibreFranklin-Regular.woff2") format('woff2');
    /*style: normal;*/
}


@font-face {
    font-family: LibreFranklin;
    font-display: swap;
    font-weight: 600;
    src: url("fonts/LibreFranklin-SemiBold.woff2") format('woff2');
    /*style: normal;*/
}


@font-face {
    font-family: LibreFranklin;
    font-display: swap;
    font-weight: 700;
    src: url("fonts/LibreFranklin-Bold.woff2") format('woff2');
    /*style: normal;*/
}


body {
    font-family: LibreFranklin, sans-serif;
}

.container-xl {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.hero-wrapper {
    background-image: url("../src/img/bg.png");
    color: white;
}


header {
    display: flex;
    justify-content: space-between;
    padding-top: 90px;
    padding-bottom: 90px;
}

header > a {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
}

header > nav > ul {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
}

.hero-text-wrapper {
    padding-top: 60px;
    padding-bottom: 240px;
}

h1 {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 64px;
    line-height: 1.2;
}

.hero-text-wrapper p {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 100px;
}

.hero-text-wrapper a {
    margin-bottom: 240px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
}

.about {
    padding-top: 93px;
    padding-bottom: 115px;
}

.about h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 75px;
}

.about p {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 115px;
}

.skills {
    padding-top: 60px;
    padding-bottom: 135px;
    background-color: #FFFAF2;
}

.skills h2 {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
}

.skills-wrapper img {
    margin-top: 100px;
    width: 350px;
}

.skills-wrapper {
    display: flex;
    gap: 130px;
    align-items: center;
}


.skills-wrapper h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.4;
}

.skills-wrapper p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
}

.skills-wrapper > ul > li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.skills-wrapper ul > li:first-child {
    margin-bottom: 65px;
}

.portfolio {
    padding-top: 93px;
    padding-bottom: 140px;
}

.portfolio > div {
    display: flex;
    justify-content: space-between;
    gap: 125px;
}

.portfolio h2 {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 85px;
}


.portfolio h3 {
    font-size: 18px;
    line-height: 1.4;
    font-weight: 600;
    margin-bottom: 48px;
}

.portfolio p {
    font-size: 18px;
    line-height: 1.6;
    font-weight: 400;
}

.image-portfolio-wrapper {
    display: flex;
    width: 630px;
    gap: 30px;
}

footer {
    background-color: #FFFAF2;
    padding-top: 93px;
    padding-bottom: 190px;
}

footer > div {
    display: flex;
}

.footer-li-wrapper {
    display: flex;
    justify-content: space-between;
}

footer h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 50px;
}

footer a {
    font-size: 18px;
    font-weight: 400;
    line-height: 2;
}
